body.dark-mode {
    background-color: #121212;
    color: #ffffff;
  }
  
  .dark-mode-toggle {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #121212;
    color: #ffffff;
    border: none;
    border-radius: 5px;
  }
  
  .dark-mode-toggle.light-mode {
    background-color: #ffffff;
    color: #121212;
  }
  